# Entorno virtual y variables
.env
.venv/
env/
__pycache__/
*.pyc

# Logs
logs/*.log

# Datos locales (Arquitectura Medallion)
data/raw/*.csv
data/bronze/*.parquet
data/silver/*.parquet
data/gold/*.parquet
data/gold/*.duckdb
data/quarantine/*

# IDEs
.vscode/
.idea/